.gnb_menu_area{padding: 5px 30px 6px;}
.gnb_menu_area .gnb_menu li{padding-top:15px;font-size:16px;}
.gnb_menu_area .gnb_menu{
	font-size:20px;
	font-weight:bold;
	border-top:1px solid #f5f7f7;
	border-bottom:1px solid #f5f7f7;padding-top:15px;padding-bottom:30px;}
.footer_area{
	overflow: hidden;
	margin: 0 30px 0 30px;
	padding-top: 20px;
}
.footer_menu li {
	padding: 4px 0 5px;
}
.footer_menu li a {
	font-size: 13px;
	color: #808991;
}
.open{left:0 !important;}
.coupon{
	margin:15px 0;
	background-color:#f5f7f7;
	display:inline-block;
	padding:10px 15px ;
	border: 1px solid #bbb;
	font-family: NotoSansKR,sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #aaa;
	border-radius:10px;
}
.bgbgbg_a{background:rgba(0,0,0,0.5);z-index:30 !important}
.form-control {
	display: inline-block;
	height: calc(1.5em + 0.75rem + 2px);
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #6e707e;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #d1d3e2;
	border-radius: 0.35rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.root_daum_roughmap .wrap_btn_zoom{display:none !important;}


.map_search {
	position:fixed;
	top:0px;
	left:280px;
	z-index:10;
}
.map_search.active {
	height: 100%;
	background:#ffffff;
}

/*검색 바*/
.searchBarWrap {
	padding: 20px;
	transition: all .5s;
}
.map_search.active .searchBarWrap {
	background-color:#ed164b; 
}
.searchBar {
    border-radius: 8px;
    background-color: #fff;
	padding: 10px;
	box-sizing: border-box;
	transition: all .5s;
}
.map_search.active .searchBarWrap .searchBar {
	background-color:#ed164b; 
}
.searchBar select {
	margin: 0 4px 0 0;
	padding: 0 12px;
	border-radius: 4px;
    border: 1px solid #e1e1e1;
	background-color: #fff;
	height: 36px;
	box-sizing: border-box;
}
.searchBar .inputWrap {
	margin: 0 4px 0 0;
	width: 286px;
	border-radius: 4px;
    border: 1px solid #e1e1e1;
	height: 36px;
	box-sizing: border-box;
	background-color: #fff;
}
.searchBar .inputWrap input {
	padding: 0 12px;
	width: 100%;
	border: none;
	background-color: transparent;
	box-sizing: border-box;
}
.searchBar .filterBtn,
.searchBar .searchMenuBtn {
	border-radius: 4px;
	width: 38px;
	height: 36px;
    border: 1px solid #e1e1e1;
	box-sizing: border-box;
}
.searchBar .filterBtn {
	margin: 0 4px 0 0;
	background-color: #fff;
}
.searchBar .filterBtn img {
	width: 20px;
}
.searchBar .searchMenuBtn {
	background-repeat: no-repeat;
	background-image: url("../images/menu_off.svg");
	background-position: center center;
	background-size: 23px 14px;	
	background-color: #fff;
}
.map_search.active .searchBarWrap .searchBar .searchMenuBtn {
	background-image: url("../images/menu_on.svg");
	background-color: #555;
	border: 1px solid #555;
}
.searchBar .searchBtn {
	height: 36px;
    padding: 6px 12px 8px;
	box-sizing: border-box;
	border: none;
	background-color: transparent;
}
/*검색 바*/

/*검색 list*/
.map_search .detailWrap {
	display: none;
	height: calc(100% - 91px);
}
.map_search.active .detailWrap {
	display: block;
	color: #222;
}
.filterWrap .tabBtn li {
	width: 25%;
}
.filterWrap .tabBtn li a {
	padding: 18px 0 14px;
	width: 100%;
	border-bottom: 1px solid #e1e1e1;
}
.filterWrap .tabBtn li.on a {
	border-bottom: 2px solid #222;
	padding: 18px 0 13px;
}
.filterWrap .filterBot {
	padding: 10px 0;
    border-bottom: 1px solid #e1e1e1;
}
.filterWrap .filterBot .totalAmt {
	padding: 0 16px;
}
.filterWrap .filterBot select {
	margin: 0 16px;
	border: none;
	background: transparent;
}
.row_tit .numCount {
	display: inline-block;
	border: none;
	background-color: transparent;
	font-size: 0.75rem;
	color: #ed164b;
	width: 20px;
}
.listtabContWrap {
	height: calc(100% - 101px);
	overflow-y: scroll;
}
.listtabContWrap .tabCont {
	display: none;
}
.listtabContWrap .tabCont:nth-child(1) {
	display: block;
}
.listWrap .listBox {
	padding: 10px 16px;
	border-top: 1px solid #e1e1e1;
	transition: all 0.3s;
}
.listWrap .listBox:hover {
	background-color: #fbf1f4;
}
.listWrap .listBox:nth-child(1) {
	border-top: none;
}
.listText_tit {
	margin-bottom: 10px;
}
.redCir {
	margin: 0 4px 0 0;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color:#ed164b; 	
	color: #fff;
}
.listWrap .tit_item {
	margin-right: 6px;
}
.listImgWrap {
	border: 1px solid #e1e1e1;
	max-width: 204px;
	width: 100%;
	height: 136px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size:cover;
	background-image: url("../images/thumbnail01.JPG");
}
.listImgWrap02 {
	border: 1px solid #e1e1e1;
	max-width: 204px;
	width: 100%;
	height: 136px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size:cover;
	background-image: url("../images/thumbnail01.JPG");
}
.info_price li {
	margin-bottom: 5px;
}
.badge {
	margin-right: 6px;
    padding: 2px;
	width: 25px; 
	box-sizing: border-box;
    border-radius: 2px;
    font-size: 10px;
}
.badge_default {
	border: 1px solid #e1e1e1;
    background-color: #f9f9f9;
    color: #959595;
}
.badge_pink {
    border: 1px solid #EC407A;
    background-color: #FEF0F5;
    color: #EC407A;
}
.badge_yellow {
    border: 1px solid #FBC02E;
    background-color: #FFFAEF;
    color: #FBC02E;
}
.badge_green {
    border: 1px solid #388E3B;
    background-color: #EFF6F0;
    color: #388E3B;
}
.badge_blue{
	border:1px solid #3F51B4;
	background-color:#F0F1F9;
	color:#3F51B4;
}
.info_price li .ss_price {
	width: 130px;
}
.info_price li .c_type {
	padding: 2px 5px 2px 4px;
    border-radius: 9px;
    font-size: 10px;
    background-color: #e9e9e9;
    color: #666;
}

/*필터메뉴*/
.filterMenu {
	display: none;
	position: absolute;
	left:0;
	top:0;
    width: 100%;
	height: 100vh;
    max-width: 530px;
	border: 1px solid #e1e1e1;
    background-color: #fff;
    z-index: 100;
}
.filterMenu .btn_close {
	position: absolute;
    top: 14px;
    right: -36px;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #e1e1e1;
	cursor: pointer;
}
.inner_filter {
	overflow: hidden;
    overflow-y: auto;
    padding: 20px 30px 114px 20px;
    max-height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.filterMenu .group_btn {
	position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    margin-top: 0;
	width: 100%;
	box-sizing: border-box;
    padding: 14px 14px 30px;
    text-align: center;
    background-color: #fff;
    -webkit-box-shadow: -2px 0 2px 2px rgb(0 0 0 / 5%);
    box-shadow: -2px 0 2px 2px rgb(0 0 0 / 5%);
}
.filterMenu .group_btn .btn_basic {
	width: 28%; 
	padding: 10px 0 12px;
}
.filterMenu .group_btn .red_btn {
	width: 39%; 
	padding: 10px 0 12px;
}
.filterMenu .inner_filter .row {
	margin-bottom: 16px;
}
.filterMenu .inner_filter .row .row_tit {
	width: 120px;
	font-size:0.75rem;
	color: #555;
}
.filterMenu .inner_filter .row .row_det {
	width: calc(100% - 120px);
} 

.inner_filter .row_det input[type=checkbox] {
    display:none;
}
.inner_filter .row_det .checkWrap {
	border-top: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
}
.inner_filter .row_det .checkWrap li {
	width: 33.333%;
}
.inner_filter .row_det .checkWrap li label {
	position: relative;
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex;
	-webkit-box-align: center; 
	-ms-flex-align: center; 
	align-items: center;
	width: 100%;
	height: 35px;
	padding: 0 28px 0 13px;
	border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
	background-color: #fbfbfb;
	box-sizing: border-box;
	color: #555;
	font-weight: 500;
	font-size: 0.75rem;
}

input[type=checkbox] + label { 
    cursor: pointer;  
    background-repeat: no-repeat;
    background-size: 13px 16px;
    background-position: 91% center;
    background-image: url('../images/checkbox_off.svg');
}

input[type=checkbox]:checked + label {
    background-image: url('../images/checkbox_on.svg');
    border-bottom: 1px solid #222 !important;
    border-right: 1px solid #222 !important;
}
input[type=checkbox]:checked + label:before {
	position: absolute;
    top: -1px;
    bottom: 0;
    left: -1px;
    right: 0;
    border-top: 1px solid #222;
    border-left: 1px solid #222;
    content: "";
}
input[type=checkbox]:disabled + label {
    background-image: url('../images/checkbox_on.svg');
	border: 1px solid #222 !important;
}

.checkWrap.list_radio2 {
	width: 66.667%;
}
.checkWrap.list_radio2 li {
	width: 50% !important;
}

.checkWrap.list_radio1 {
	width: 31.333%;
}
.checkWrap.list_radio1 li {
	width: 100% !important;
}


/*view1*/
.inner_filter02 {
	overflow: hidden;
    overflow-y: auto;
    padding: 0 0 81px 0;
    max-height: calc(100% - 64px);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.area_status {
	padding: 10px 20px;
}
.view1Visual,
.view1Visual02,
.view2Visual,
.view3Visual {
	width: 100%;
	height: 316px;
}
.view1ImgSlick .view1ImgBox,
.view1ImgSlick02 .view1ImgBox02,
.view2ImgSlick .view2ImgBox,
.view3ImgSlick .view3ImgBox {
	width: 100%;
	height: 100%;
}
.view1ImgSlick .view1ImgBox img,
.view2ImgSlick .view2ImgBox img,
.view3ImgSlick .view3ImgBox img {
	width: 100%;
	height: 100%;
}
.view1ImgSlick02 .view1ImgBox02 img {
	height: 100%;
	margin: 0 auto;
}
.pagingInfo,
.pagingInfo02,
.pagingInfo03,
.pagingInfo04 {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 0.875rem;
	color: #fff;
	font-weight: 700;
	border-radius: 20px;
	padding: 5px 15px;
	background-color: rgb(0,0,0,0.5);
}
.view1wrap {
	display: none;
	position: absolute;
	left:0;
	top:0;
    width: 100%;
	height: 100vh;
    max-width: 530px;
	border: 1px solid #e1e1e1;
    background-color: #fff;
    z-index: 99;
}
.view2wrap {
	display: none;
	position: absolute;
	left:0;
	top:0;
    width: 100%;
	height: 100vh;
    max-width: 530px;
	border: 1px solid #e1e1e1;
    background-color: #fff;
    z-index: 100;
}
.view3wrap {
	display: none;
	position: absolute;
	left:0;
	top:0;
    width: 100%;
	height: 100vh;
    max-width: 530px;
	border: 1px solid #e1e1e1;
    background-color: #fff;
    z-index: 101;
}
#single_btn {
	position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    margin-top: 0;
	width: 100%;
	box-sizing: border-box;
    padding: 14px;
    text-align: center;
    background-color: #fff;
    -webkit-box-shadow: -2px 0 2px 2px rgb(0 0 0 / 5%);
    box-shadow: -2px 0 2px 2px rgb(0 0 0 / 5%);
}
#single_btn .inquireBtn,
#single_btn .inquireBtn {
	border: 1px solid #d20d3d;
    background-color: #ed164b;
    color: #fff;
	height: 50px;
	border-radius: 6px;
	width: 480px;
}
.inner_filter02 .dateWrap p {
	font-size: 0.75rem;
}
.inner_filter02 .redCirTit {
	margin-bottom: 15px;
	padding: 3px 10px;
	border-radius: 20px;
}
.small_cir {
	margin-right: 5px;
	width:8px;
	height: 8px;
	border-radius: 50%;
}
.inner_filter02 .row_floor .item_ho {
	-webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    min-height: 70px;
    margin: 2px;
    padding: 6px 6px;
    border: 1px solid #bbb;
    border-radius: 2px;
    cursor: pointer;
	text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.inner_filter02 .br_bottom .group_table_view .list_table_v {
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex;
	border-bottom: 1px solid #e1e1e1;
}
.inner_filter02 .br_bottom .group_table_view .list_table_v dt {
	width: 30%;
    padding: 14px 0 14px 10px;
    color: #222;
	font-weight: 700;
	font-size: 0.875rem;
	text-align: left;
}
.inner_filter02 .br_bottom .group_table_view .list_table_v dd {
    width: 70%;
    padding: 14px 10px;
    color: #555;
	font-size: 0.875rem;
	text-align: left;
	font-weight: 500;
}
.inner_filter02 .row_floor .item_ho .redCir {
	margin-left: 3px;
	width: 16px;
	height: 16px;
}
.inner_filter02 .row_floor .item_ho.item_dimmed {
	border: 1px solid #e1e1e1;
	background-color: #f1f1f1;
}
.inner_filter02 .row_floor .item_ho:hover {
	background-color: #fbf1f4;
}
.inner_filter02 .row_floor .item_no_house {
	border: 0 none;
	background-color: #f1f1f1;
	cursor:default;
}
.inner_filter02 .item_ho .badge {
	margin-left: 3px;
	margin-right: 3px;
	padding: 0px 2px;
}
.inner_filter02 .item_ho p {
	margin: 5px 0;
	font-size: 0.875rem;
}
.inner_filter02 .starWrap .star {
	margin-right: 2px;
	width: 20px;
	height: 20px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-image: url("../images/star02.png");
}
.inner_filter02 .scoreWrap .gryScore {
	font-size:0.75rem;
    color: #888;
	font-weight: 500;
}
.inner_filter02 .textCount span {
	font-size:0.75rem;
    color: #888;
	font-weight: 500;
}
.inner_filter02 .inner_body .memoWrap {
	margin: 10px 0;
}
.inner_filter02 .inner_body .memoWrap textarea {
	padding: 8px 12px;
    border: 1px solid #e1e1e1;
	border-radius: 4px;
    font-size:0.875rem;
	width: 100%; 
	box-sizing: border-box;
	color: #555;
	resize: none;
	min-height: 84px;
}
.inner_filter02 .inner_body .inputWrap input {
	padding: 8px 12px;
    border: 1px solid #e1e1e1;
	border-radius: 4px;
    font-size:0.875rem;
	width: 100%; 
	box-sizing: border-box;
	color: #555;
} 
.inner_filter02 .switch {
	position: relative;
	width: 44px;
	height: 24px;
	border-radius: 24px;
	background-color: #aaa;
	cursor: pointer;
	transition: background 0.3s;
}
.inner_filter02 .switch:hover {
	background-color: #939191;
}
.inner_filter02 .switch.on {
	background-color: #ed164b;
}
.inner_filter02 .switch .whtCirSmall {
	position: absolute;
	top:3px;
	left: 3px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #fff;
}
.inner_filter02 .switchWrap {
	margin-top: 10px;
}
.inner_filter02 .switchWrap .saveBtn {
	display: inline-block;
	background-color: #222;
    color: #fff;
	border-radius: 6px;
	padding: 9px 14px 9px;
}
.inner_filter02 .switchWrap .grytopfix {
	margin-left: 10px;
	color: #222;
	font-size:0.875rem;
}
.inner_filter02 .gryCount {
	font-size: 0.875rem;
	color: #888;
}
.inner_filter02 .blkCount {
	font-size: 0.875rem;
	color: #222;
}
.inner_filter02 .btn_fold {
	position: relative;
    width: 100%;
    padding: 11px 16px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.inner_filter02 .btn_fold p {
	font-size: 1.125rem;
}
.inner_filter02 .btn_fold .lnr-chevron-down {
	display: block;
	color: #555;
	font-size: 1.125rem;
	font-weight: bold;
	transform: rotate(0deg);
}
.inner_filter02 .body_fold {
	display: none;
	border-top: 1px solid #eee;
}
.inner_filter02 .br_bottom.active .body_fold  {
	display: block;
}
.inner_filter02 .br_bottom.active .area_arrow .lnr-chevron-down {
	transform: rotate(180deg);
}
.inner_filter02 .br_bottom .perCount {
	margin-right: 5px;
	font-weight: 500;
	font-size: 0.875rem;
}
.viewTop .centerTit .redTitCir {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #ed164b;
	font-weight: 700;
	font-size: 0.75rem;
	color: #fff;
}
.viewTop {
	padding: 14px 20px;
	box-sizing: border-box;
	border-bottom: 1px solid #eee;
}
.viewTop .gobackBtn {
	cursor: pointer;
	width: 43px;
	height: 43px;
}
.viewTop .gobackBtn .lnr-chevron-left {
	font-weight: bold;
	font-size: 1.250rem;
}
.viewTop .centerTit .gryAptNm {
	font-size: 1.125rem;
	font-weight: 700;
	color: #555;
}
.viewTop .centerTit .smallAdrGry {
	color: #888;
	font-size: 0.75rem;
}
.viewTop .likeBtn {
	width: 24px; 
	height: 24px;
	background-image: url("../images/star02.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.inner_filter02 .br_bottom .area_status dl {
	margin: 0 12px;
	text-align: center;
}
.inner_filter02 .br_bottom .area_status dl dd {
	color: #555;
	font-weight: 700;
}
.inner_filter02 .br_bottom .area_status dl dt {
	font-size: 0.75rem;
	color: #888;
}
.listWrap .listBox .listText .lastHouse {
	color: #888;
	font-size: 0.75rem;
	font-weight: 500;
}
.listWrap .listBox .listText .lastHouse span {
	margin-left: 3px;
	color: #222;
	font-size: 0.75rem;
	font-weight: 400;
}

/*view2 & view3*/
.area_price .info_price {
	-webkit-box-flex: 1;
    -ms-flex: 1 1 229px;
    flex: 1 1 229px;
    overflow: hidden;
    display: inline-block;
    width: calc(50% - 8px);
    margin: 4px;
    padding: 8px 10px 10px;
    border-radius: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
}
.area_price .info_price dt {
	display: inline-block;
    margin-right: 10px;
    padding: 4px 4px;
    border-radius: 2px;
    font-size: 0.75rem;
    line-height: 12px;
    letter-spacing: -.05em;
    vertical-align: top;
}
.area_price .info_price dt+dd {
	display: block;
    margin-top: 6px;
    font-size: 0.875rem;
    line-height: 20px;
    color: #222;
    word-break: keep-all;
}
.area_price .info_price dd {
	text-align: right;
	font-weight: 700;
}
.inner_body .tit_option {
	display: block;
    font-weight: 500;
    font-size: 0.875rem;
    color: #222;
	margin-top: 16px;
    padding-top: 14px;
    border-top: 1px dotted #e1e1e1;
}
.inner_body .list_option li {
	display: inline-block;
    min-width: 86px;
    margin: 2px;
    padding: 8px 2px;
    vertical-align: top;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.inner_body .list_option li .icon_zippro {
	margin: 0 auto;
	width: 30px;
	height: 30px;
	background-color: #efefef;
}
.inner_body .list_option li .txt_option {
	display: block;
    margin-top: 6px;
    font-size: 11px;
    letter-spacing: -.04em;
    color: #555;
}
.inner_body .tit_option.brtop {
	border-top: none;
}
.aptDetail_wrap .desc_ho {
	font-size: 1.125rem !important;
	font-weight: 700;
	color: #222;
	text-align: center;
}
.aptDetail_wrap .desc_type {
	margin-top: 6px;
	font-size: 0.875rem;
	padding-bottom: 20px;
} 
.aptDetail_wrap .desc_type {
	text-align: center;
}
.aptDetail_wrap .desc_type .badge_type {
	margin: 0 6px 0 0;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}